In [23]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('country.csv')
data

In [24]:
# Sütun isimlerindeki boşlukları temizle
data.columns = data.columns.str.strip()

# Virgüllü sayıları noktaya çevirip sayısal veriye dönüştür
cols_to_fix = ['Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)', 
               'Net migration', 'Infant mortality (per 1000 births)', 
               'Literacy (%)', 'Phones (per 1000)', 'Arable (%)', 
               'Crops (%)', 'Other (%)', 'Birthrate', 'Deathrate', 
               'Agriculture', 'Industry', 'Service']

for col in cols_to_fix:
    data[col] = data[col].astype(str).str.replace(',', '.').apply(pd.to_numeric, errors='coerce')

##  Country.csv dosyasının özelliği
Bu tablo, çeşitli ülkelerle ilgili bir dizi demografik, ekonomik ve coğrafi veriyi içermektedir. Tabloda her bir satır bir ülkeyi temsil ederken, sütunlar bu ülkelerle ilgili farklı özellikleri gösterir. İşte sütunların anlamları:

Country: Ülkenin adı.  
Region: Ülkenin bulunduğu bölge (örneğin, Asya, Doğu Avrupa).  
Population: Ülkenin toplam nüfusu.  
Area (sq. mi.): Ülkenin yüzölçümü (mil kare olarak).  
Pop. Density (per sq. mi.): Nüfus yoğunluğu (mil kare başına düşen kişi sayısı).  
Coastline (coast/area ratio): Sahil uzunluğunun, ülkenin toplam alanına oranı.  
Net migration: Net göç oranı (göçmenlerin ülkeye giren veya ülkeden çıkan kişi sayısına göre oranı).  
Infant mortality (per 1000 births): Bebek ölüm oranı (1000 doğum başına).  
GDP ($ per capita): Kişi başına düşen Gayri Safi Yurtiçi Hasıla (GSYİH).  
Literacy (%): Okur-yazarlık oranı.  
Phones (per 1000): Her 1000 kişi başına düşen telefon sayısı.  
Arable (%): Tarıma elverişli arazi yüzdesi.  
Crops (%): Ekilebilir ürünlerin yüzdesi.  
Other (%): Diğer arazi kullanımı yüzdesi.  
Climate: Ülkenin iklim kategorisi (numerik bir değer olarak gösterilmiş).  
Birthrate: Doğum oranı.  
Deathrate: Ölüm oranı.  
Agriculture: Tarım sektörünün ekonomideki payı.  
Industry: Sanayi sektörünün ekonomideki payı.  
Service: Hizmet sektörünün ekonomideki payı.

## Bu Dosyada Yapacağınız görevleri alt taraftan bakabilirsiniz.

## 1. Görev : Nüfusa Göre Azalan Sırada Sıralama:

In [25]:
# Nüfusa Göre Azalan Sırada Sıralama kodunu buraya yazınız

sorted_population = data.sort_values(by='Population', ascending=False)
sorted_population.head() # İlk 5 satırı görmek için

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
42,China,ASIA (EX. NEAR EAST),1313973713,9596960,136.9,0.15,-0.40,24.18,5000.0,90.9,266.7,15.40,1.25,83.35,"1,5",13.25,6.97,0.125,0.473,0.403
94,India,ASIA (EX. NEAR EAST),1095351995,3287590,333.2,0.21,-0.07,56.29,2900.0,59.5,45.4,54.40,2.74,42.86,"2,5",22.01,8.18,0.186,0.276,0.538
214,United States,NORTHERN AMERICA,298444215,9631420,31.0,0.21,3.41,6.50,37800.0,97.0,898.0,19.13,0.22,80.65,3,14.14,8.26,0.010,0.204,0.787
95,Indonesia,ASIA (EX. NEAR EAST),245452739,1919440,127.9,2.85,0.00,35.60,3200.0,87.9,52.0,11.32,7.23,81.45,2,20.34,6.25,0.134,0.458,0.408
27,Brazil,LATIN AMER. & CARIB,188078227,8511965,22.1,0.09,-0.03,29.61,7600.0,86.4,225.3,6.96,0.90,92.15,2,16.56,6.17,0.084,0.400,0.516

## 2. Görev: GDP per capita sütununa göre ülkeleri artan sırada sıralamak(Kişi başına düşen Gayri Safi Yurtiçi Hasıla).

In [26]:
# GDP per capita sütununa göre ülkeleri artan sırada sıralamak(Kişi başına düşen Gayri Safi Yurtiçi Hasıla). kodunu buradan yazınız.

sorted_gdp = data.sort_values(by='GDP ($ per capita)', ascending=True)
sorted_gdp.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
58,East Timor,ASIA (EX. NEAR EAST),1062777,15007,70.8,4.70,0.00,47.41,500.0,58.6,NaN,4.71,0.67,94.62,2,26.99,6.24,0.085,0.231,0.684
183,Sierra Leone,SUB-SAHARAN AFRICA,6005250,71740,83.7,0.56,0.00,143.64,500.0,31.4,4.0,6.98,0.89,92.13,2,45.76,23.03,0.490,0.310,0.210
188,Somalia,SUB-SAHARAN AFRICA,8863338,637657,13.9,0.47,5.37,116.70,500.0,37.8,11.3,1.67,0.04,98.29,1,45.13,16.63,0.650,0.100,0.250
33,Burundi,SUB-SAHARAN AFRICA,8090068,27830,290.7,0.00,-0.06,69.29,600.0,51.6,3.4,35.05,14.02,50.93,2,42.22,13.46,0.463,0.203,0.334
125,Malawi,SUB-SAHARAN AFRICA,13013926,118480,109.8,0.00,0.00,103.32,600.0,62.7,7.9,23.38,1.49,75.13,2,43.13,19.33,0.342,0.158,0.499

## 3. Görev: Population sütunu 10 milyonun üzerinde olan ülkeleri seçmek.

In [27]:
# Kodunu buraya yazınız.
# 10 Milyon (10,000,000) üzeri nüfus filtrelemesi
high_population = data[data['Population'] > 10000000]
high_population.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1,46.60,20.34,0.380,0.240,0.380
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1,17.14,4.61,0.101,0.600,0.298
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,1900.0,42.0,7.8,2.41,0.24,97.35,NaN,45.11,24.20,0.096,0.658,0.246
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,14.4,0.18,0.61,15.18,11200.0,97.1,220.4,12.31,0.48,87.21,3,16.73,7.55,0.095,0.358,0.547
11,Australia,OCEANIA,20264082,7686850,2.6,0.34,3.98,4.69,29000.0,100.0,565.5,6.55,0.04,93.41,1,12.14,7.51,0.038,0.262,0.700

## 4. Görev: Literacy (%) sütununa göre ülkeleri sıralayıp, en yüksek okur-yazarlık oranına sahip ilk 5 ülkeyi seçmek.

In [28]:
# Kodunu buraya yazınız.
top_literacy = data.sort_values(by='Literacy (%)', ascending=False).head(5)
top_literacy[['Country', 'Literacy (%)']]

         Country  Literacy (%)
4       Andorra          100.0
11    Australia          100.0
68      Finland          100.0
54      Denmark          100.0
121  Luxembourg          100.0

## 5. Görev:  Kişi Başı GSYİH 10.000'in Üzerinde Olan Ülkeleri Filtreleme: GDP ( per capita) sütunu 10.000'in üzerinde olan ülkeleri seçmek.

In [29]:
# Kodunu buraya yazınız.
rich_countries = data[data['GDP ($ per capita)'] > 10000]
rich_countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3,8.71,6.25,NaN,NaN,NaN
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,156.0,34.54,-6.15,19.46,11000.0,89.0,549.9,18.18,4.55,77.27,2,16.93,5.37,0.038,0.220,0.743
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,14.4,0.18,0.61,15.18,11200.0,97.1,220.4,12.31,0.48,87.21,3,16.73,7.55,0.095,0.358,0.547
10,Aruba,LATIN AMER. & CARIB,71891,193,372.5,35.49,0.00,5.89,28000.0,97.0,516.1,10.53,0.00,89.47,2,11.03,6.68,0.004,0.333,0.663
11,Australia,OCEANIA,20264082,7686850,2.6,0.34,3.98,4.69,29000.0,100.0,565.5,6.55,0.04,93.41,1,12.14,7.51,0.038,0.262,0.700

## Görev 6 : En Yüksek Nüfus Yoğunluğuna Sahip İlk 10 Ülkeyi Seçme:
Pop. Density (per sq. mi.) sütununa göre ülkeleri sıralayıp, en yüksek nüfus yoğunluğuna sahip ilk 10 ülkeyi seçmek.

In [30]:
top_density = data.sort_values(by='Pop. Density (per sq. mi.)', ascending=False).head(10)
top_density[['Country', 'Pop. Density (per sq. mi.)']]

         Country  Pop. Density (per sq. mi.)
138      Monaco                      16271.5
122       Macau                      16183.0
184   Singapore                       6482.2
91    Hong Kong                       6355.7
78    Gibraltar                       3989.7
74   Gaza Strip                       3968.8
129       Malta                       1266.5
22      Bermuda                       1241.0
127    Maldives                       1196.7
15      Bahrain                       1050.5